*
.*

!.gitignore
!README.md
!Makefile
!makeiso.sh
!boot.asm
!main.c
!linker.ld
!tetos.iso
!common/
!common/*.h
!common/*.c
!modules/
!modules/**/
!modules/**/*.c
!modules/**/*.h
!modules/**/*.md

*.o
myos.bin